{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<form class="max-w-sm mx-auto flex items-center mt-10 flex-col" method="post">
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-success text-center font-weight-bold">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="text-3xl font-bold text-center mt-10 mb-5 text-gray-900 dark:text-white flex justify-center">Please sign in</h1>
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="inputEmail">Username</label>
    <input type="text" name="username" id="inputUsername" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="username" required autofocus>
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required>


    <div class="checkbox mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
